<div class="hero-unit">
	<h1><%- site_title %></h1>
	<p><%- intro %></p>
	<button class="btn icon-ok"> button text</button>
</div>
<div class="row-fluid">
	<section class="span8">
		<ul class="thumbnails">
			<li class="span4">
				<a class="thumbnail" href="#">
					<img src="http://lorempixel.com/320/240/food" width="320" height="240" alt="food" title="placeholder">
				</a>
				<h3>Basic marketing site</h3>
				<p>Featuring a hero unit for a primary message and three supporting elements.</p>
			</li>
			<li class="span4">
				<a class="thumbnail" href="#">
					<img src="http://lorempixel.com/320/240/abstract" width="320" height="240" alt="abstract" title="placeholder">
				</a>
				<h3>Fluid layout</h3>
				<p>Uses our new responsive, fluid grid system to create seamless liquid layout.</p>
			</li>
			<li class="span4">
				<a class="thumbnail" href="#">
					<img src="http://lorempixel.com/320/240/fashion" width="320" height="240" alt="fashion" title="placeholder">
				</a>
				<h3>Starter template</h3>
				<p>A barebones HTML document with all the Bootstrap CSS and javascript included.</p>
			</li>
		</ul>
		<h1>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h1>
		<p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>
		<h2>Header Level 2</h2>
		<div class="media">
			<img src="http://lorempixel.com/100/100/food" width="100" height="100" alt="food" title="placeholder" class="img-polaroid pull-left">
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>
		</div>
	</section>
	<aside class="span4">
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<button class="btn-primary btn-small">btn text submit submit</button>
		<hr>
		<p><img src="http://lorempixel.com/400/200/food" width="400" height="200" alt="food" title="placeholder"></p>
		<p><img src="http://lorempixel.com/400/200/sports" width="400" height="200" alt="sports" title="placeholder"></p>
		<p><img src="http://lorempixel.com/400/200/abstract" width="400" height="200" alt="abstract" title="placeholder"></p>
	</aside>
</div>